.text {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.imageVignette {
    -fx-effect: innershadow(gaussian, black, 70, 0.2, 0, 0);
}

.iconButton {
    -fx-background-color: transparent;
}
.iconButton:hover {
    -fx-background-color: rgba(0,0,0,0.2);
}
.iconButton:pressed {
    -fx-background-color: rgba(0,0,0,0.5);
}